h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    color: indigo;
    font-weight: lighter;
}
body {
    background: rgb(173, 48, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 82px;
    color: darkviolet;
    font-weight: lighter;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    color: fuchsia;
    font-weight: bolder;
}
